<div class="row">
    <div class="well col-sm-3 form-group">
        <button class="btn btn-success center-block mb" ng-click="newBottle()">Nouvelle bouteille</button>
        <input type="text" class="form-control mb" placeholder="Recherche..." ng-model="searchText"/>

        <div class="panel panel-primary mb">
            <div class="panel-heading">Liste des bouteilles</div>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="bottle in bottles | filter:searchText">
                    <a ng-bind="bottle.name" ng-click="changeCurrentBottle($index)"></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-sm-9">
        <div class="col-sm-9">
            <form role="form" ng-submit="createBottle()">
                <div class="form-group">
                    <label for="name">Nom</label>
                    <input class="form-control" id="name" type="text" ng-model="currentBottle.name" required/>
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <input class="form-control" type="text" id="description" ng-model="currentBottle.description"/>
                </div>
                <div class="form-group">
                    <label>Note</label>

                    <div id="rating" simple-rating rating="currentBottle.rate" rating-max="5"></div>
                </div>

                <button type="submit" class="btn btn-default">Sauvegarder</button>
                <button type="button" class="btn btn-danger pull-right" ng-click="delete()">Supprimer</button>
            </form>
        </div>
        <div class="col-md-3">
            <div ymagik picture-content="currentBottle.picture" content-type="currentBottle.contentType"
                 default-image="'img/empty.png'"
                 image-width="200"></div>
        </div>
    </div>
</div>