<div class="row">
    <div class="well col-sm-3 form-group">
        <button class="btn btn-success center-block mb" ng-click="newBottle()">Nouvelle bouteille</button>
        <input type="text" class="form-control mb" placeholder="Recherche..."/>

        <div class="panel panel-primary mb">
            <div class="panel-heading">Liste des bouteilles</div>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="bottle in bottles">
                    <a ng-bind="bottle.name" ng-click="changeCurrentBottle(bottle.id)"></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-sm-9">
        <div class="col-sm-9">
            <form role="form" ng-submit="createBottle()">
                <div class="form-group">
                    <label for="name">Nom</label>
                    <input class="form-control" id="name" type="text" ng-model="currentBottle.name" required/>
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <input class="form-control" type="text" id="description" ng-model="currentBottle.description"/>
                </div>

                <button type="submit" class="btn btn-default">Sauvegarder</button>
            </form>
        </div>
    </div>
</div>