<div class="row">
    <div class="well col-md-3 form-group">
        <button class="btn btn-success center-block mb">Nouvelle bouteille</button>
        <input type="text" class="form-control mb" placeholder="Recherche..."/>
        <div class="panel panel-primary mb">
            <div class="panel-heading">Liste des bouteilles</div>
            <ul class="list-group">
                <li class="list-group-item">
                    <a>Liens</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-9">
        <div class="col-md-9">
            <form role="form">
                <div class="form-group">
                    <label for="name">Nom</label>
                    <input class="form-control" id="name" type="text"/>
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <input class="form-control" type="text" id="description"/>
                </div>

                <button type="submit" class="btn btn-default">Create</button>
                <button class="btn btn-danger pull-right">Delete</button>
            </form>
        </div>
    </div>
</div>